.text-container {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.gnt-container {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    width: 650px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.link {
    color: rgba(45,210,253,1);
}

.projects-group {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    margin-bottom: 40px;
}

.title {
    margin: 0;
    color: white;
    font-family: "Roboto Thin", sans-serif;
}

.text {
    margin: 10px;
    color: white;
    font-family: "Roboto Thin", sans-serif;
}

.header-text {
    margin: 10px;
    color: white;
    font-family: "Roboto Thin", sans-serif;
    font-size: 1.5em;
}

.label {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 2em;
}

.image {
    padding: 5em 10em 0 10em;
    margin: 20px;
}

