.flex-container {
    display: flex;
    width: 100%;
}

.flex-column {
    flex-flow: column;
}

.flex-row {
    flex-flow: row;
}

.h-center {
    justify-content: center;
}

.v-center {
    align-items: center;
}
